<header class="headerShop">

    <h1 class="headerShop__title">HARRY STYLES</h1>

    <i class="headerShop__search fa-solid fa-magnifying-glass"></i>

    <div class="headerShop__userBag">
        <i class="user fa-solid fa-user"></i>
        <i class="bag fa-solid fa-bag-shopping"></i>
    </div>

    <nav class="headerShop__nav">
        <ul class="headerShop__nav--element">
            <li>Apparel</li>
            <li>Accessories</li>
            <li>Music</li>
            <li>Tour</li>
            <li>Currency</li>
        </ul>
    </nav>


</header>