<section class="prefooter">

    <div class="social">
        <a href="https://www.facebook.com/harrystyles" title="Harry Styles on Facebool"></a>
        <a href="https://twitter.com/harry_styles">Harry Styles on Twitter</a>
        <a href="https://www.instagram.com/harrystyles/">Harry Styles on Instagram</a>
        <a href="https://www.youtube.com/channel/UCZFWPqqPkFlNwIxcpsLOwew">Harry Styles on YouTube</a>
    </div>
    <a class="button" href="#">Newsletter Sign-Up</a>
    <p class="privacy">I have read and understood the privacy and cookie policy and agree to the processing of my data and the use of cookies in accordance with it. I understand emails will be sent by or on behalf of Sony Music Entertainment, 25 Madison Avenue, 22nd Floor, New York, NY 10010.</p>

</section>