.videoclip {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}


.AIW {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 25px 40px 25px;
}

.AIW .title {
    font-size: 62px;
    text-align: center;
    margin-bottom: 7px;
}

.AIW .button {
    font-size: 23px;
    max-width: 225px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 28px;
    padding: 8px 12px;
    border: solid 1px;
    text-align: center;
}

.VideoLink {
    width: 100%;
    height: auto;
    max-width: 500px;
    box-sizing: border-box;
    padding: 5px 19px 0px 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        box-sizing: border-box;
        padding: 25px 25px 25px 25px;
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    &__button {
        font-size: 2.3rem;
        position:relative;
        right: 50%
    }    

    &__button:hover {
        color: white;
    }
}
